@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@media screen and (max-width: 1000px) {
  .otros__items--distinto {
    transform: rotate(360deg) !important;
    margin-left: 20px;
  }

  .sobreMi__item {
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  .trabajos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
  }
  .trabajos .trabajos-item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .trabajos .trabajos-item:nth-child(2) {
    grid-column-start: span 2;
  }
  .trabajos .trabajos-item:nth-child(3) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .trabajos .trabajos-item:nth-child(4) {
    grid-column-start: span 2;
  }

  .galeria__container {
    grid-auto-rows: 300px;
  }

  /*FORMAS BANNER*/
  .shape-forma1 {
    position: absolute;
    left: -50% !important;
  }
}
@media screen and (max-width: 700px) {
  .galeria__container {
    grid-auto-rows: 250px;
  }
  .galeria__container .galeria__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .galeria__container .galeria__item:nth-child(5) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }

  /*FORMAS BANNER*/
  .shape-forma4 {
    opacity: 0;
  }

  .otros {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .trabajos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
    gap: 30px;
  }
  .trabajos .trabajos-item:nth-child(1) {
    grid-column-start: span 2;
  }
  .trabajos .trabajos-item:nth-child(2) {
    grid-column-start: span 2;
  }
  .trabajos .trabajos-item2 {
    margin-top: 10px;
  }

  .galeria__container {
    margin-top: 0;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 180px 180px 180px 150px 180px;
  }
  .galeria__container .galeria__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .galeria__container .galeria__texto:nth-child(4) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .galeria__container .galeria__texto {
    margin-top: 10px;
  }

  /*BANNER*/
  .shape-forma1 {
    position: absolute;
    left: -80% !important;
  }

  .subH2 {
    text-align: center;
    margin: 0.3rem;
  }

  .trabajos {
    padding: 2rem;
  }
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: #90918C;
  box-sizing: border-box;
}

.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  outline: none;
}
.navbar-light .navbar-toggler:focus {
  outline: none;
}

.subH2 {
  margin: 3rem;
  padding-left: 1rem;
}

/*SOBRE MI*/
.sobreMi {
  position: relative;
  overflow: hidden;
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
}
.sobreMi__item {
  padding: 0.5rem;
  width: 45%;
}
.sobreMi__item__h2 {
  margin-bottom: 3rem;
}
.sobreMi__item__texto {
  margin-bottom: 3rem;
}
.sobreMi__img {
  width: 500px;
  margin-right: 3rem;
}
.sobreMi__img img {
  width: 100%;
}

.shape-forma5 {
  height: 50vh;
  position: absolute;
  top: 10%;
  right: -10%;
  z-index: -1;
}

/*SKILLS*/
.contenedorSkills {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0 2.5rem 0;
}
.contenedorSkills .contenedorSkills__div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contenedorSkills .contenedorSkills__div .contenedorSkills__borde {
  flex: 1 1 150px;
  width: 30vh;
  margin-bottom: 3rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 1rem;
  background: linear-gradient(82deg, rgb(255, 229, 244) 21%, rgb(255, 246, 223) 50%, rgb(216, 252, 248) 85%);
  transition: 1s ease-in-out;
}
.contenedorSkills .contenedorSkills__div .contenedorSkills__borde:hover {
  background: linear-gradient(82deg, rgb(255, 246, 223) 18%, rgb(216, 252, 248) 53%, rgb(255, 229, 244) 86%);
}
.contenedorSkills .contenedorSkills__div .contenedorSkills__borde .contenedorSkills__fondo {
  background-color: #fff;
  padding: 2rem 2rem 2.8rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedorSkills .contenedorSkills__div .contenedorSkills__borde .contenedorSkills__fondo .contenedorSkills__item {
  width: 100%;
  position: relative;
  text-align: center;
  padding: 0.7rem;
}
.contenedorSkills .contenedorSkills__div .contenedorSkills__borde .contenedorSkills__fondo .contenedorSkills__item .contenedorSkills__img {
  width: 100%;
}
.contenedorSkills .contenedorSkills__div .contenedorSkills__borde .contenedorSkills__fondo .contenedorSkills__item .contenedorSkills__contenido {
  position: absolute;
  padding: 1rem;
  top: 0;
  transform: translateY(40px);
  opacity: 0;
  transition: all 0.3s;
}

.contenedorSkills__contenido:hover {
  opacity: 1 !important;
  background-color: #fff;
  transform: translateY(0px) !important;
}

.contenedorSkills__img {
  overflow: hidden;
}

/*TRABAJOS REALIZADOS*/
.trabajos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 400px;
  padding: 2rem 4rem 2rem 4rem;
  gap: 60px;
}
.trabajos .trabajos-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right top;
}
.trabajos .trabajos-item:nth-child(1) {
  grid-row-start: span 2;
  grid-column-start: span 2;
}
.trabajos .trabajos-item:nth-child(2) {
  grid-column-start: span 2;
}
.trabajos .trabajos-item:nth-child(3) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.trabajos .trabajos-item:nth-child(4) {
  grid-column-start: span 2;
}
.trabajos .trabajos-h2 {
  margin-bottom: 2rem;
}

/*GALERIA*/
.galeria__container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  padding: 2rem;
  gap: 10px;
}
.galeria__container .galeria__item {
  position: relative;
}
.galeria__container .galeria__item .galeria__h2 {
  position: absolute;
  bottom: 0;
  left: 15px;
  color: #fff;
}
.galeria__container .galeria__item .galeria__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.galeria__container .galeria__item:nth-child(1) {
  grid-row-start: span 2;
}

/*OTROS LENG Y PROYECTOS*/
.otros {
  position: relative;
  overflow: hidden;
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 4rem;
}
.otros .otros__borde {
  height: 60vh;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 1rem;
  background: linear-gradient(82deg, rgb(255, 229, 244) 21%, rgb(255, 246, 223) 50%, rgb(216, 252, 248) 85%);
  transition: 1s ease-in-out;
  flex: 1 150px;
}
.otros .otros__borde:hover {
  background: linear-gradient(82deg, rgb(255, 246, 223) 18%, rgb(216, 252, 248) 53%, rgb(255, 229, 244) 86%);
}
.otros .otros__borde .otros__items {
  height: 99.999%;
  background-color: #fff;
  padding: 2rem 2rem 2.8rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.otros .otros__borde .otros__items li {
  margin-left: 20px;
}
.otros .otros__items--distinto {
  height: 12vh;
  transform: rotate(270deg);
}

.shape-forma6 {
  height: 80vh;
  position: absolute;
  left: -10%;
  z-index: -1;
}

/*FOOTER*/
.foo {
  width: 100%;
  position: relative;
  height: 40vh;
  margin-bottom: 3rem;
  text-align: center;
}
.foo .foo__items {
  margin-top: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.foo .foo__items .foo__redes {
  position: relative;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3rem;
}
.foo .foo__items .foo__redes .foo__borde {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 1rem;
  background: linear-gradient(82deg, rgb(255, 229, 244) 21%, rgb(255, 246, 223) 50%, rgb(216, 252, 248) 85%);
  transition: 1s ease-in-out;
  height: 10vh;
  width: 10vh;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foo .foo__items .foo__redes .foo__borde:hover {
  background: linear-gradient(82deg, rgb(255, 246, 223) 18%, rgb(216, 252, 248) 53%, rgb(255, 229, 244) 86%);
}
.foo .foo__items .foo__redes .foo__borde i {
  font-size: 2em;
  background-color: #fff;
  padding: 1rem;
  border-radius: 50px;
  color: #EBE1A2;
  transition: color 1s;
}
.foo .foo__items .foo__redes .foo__borde i:hover {
  color: #CAE2E2;
}

@media screen and (max-width: 1000px) {
  .otros__items--distinto {
    transform: rotate(360deg) !important;
    margin-left: 20px;
  }

  .sobreMi__item {
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  .trabajos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
  }
  .trabajos .trabajos-item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .trabajos .trabajos-item:nth-child(2) {
    grid-column-start: span 2;
  }
  .trabajos .trabajos-item:nth-child(3) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .trabajos .trabajos-item:nth-child(4) {
    grid-column-start: span 2;
  }

  .galeria__container {
    grid-auto-rows: 300px;
  }

  /*FORMAS BANNER*/
  .shape-forma1 {
    position: absolute;
    left: -50% !important;
  }
}
@media screen and (max-width: 700px) {
  .galeria__container {
    grid-auto-rows: 250px;
  }
  .galeria__container .galeria__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .galeria__container .galeria__item:nth-child(5) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }

  /*FORMAS BANNER*/
  .shape-forma4 {
    opacity: 0;
  }

  .otros {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .trabajos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
    gap: 30px;
  }
  .trabajos .trabajos-item:nth-child(1) {
    grid-column-start: span 2;
  }
  .trabajos .trabajos-item:nth-child(2) {
    grid-column-start: span 2;
  }
  .trabajos .trabajos-item2 {
    margin-top: 10px;
  }

  .galeria__container {
    margin-top: 0;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 180px 180px 180px 150px 180px;
  }
  .galeria__container .galeria__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .galeria__container .galeria__texto:nth-child(4) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .galeria__container .galeria__texto {
    margin-top: 10px;
  }

  /*BANNER*/
  .shape-forma1 {
    position: absolute;
    left: -80% !important;
  }

  .subH2 {
    text-align: center;
    margin: 0.3rem;
  }

  .trabajos {
    padding: 2rem;
  }
}
.contenedor {
  width: 100%;
  height: 100%;
  margin: 0;
}
.contenedor .contenedor-svg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.contenedor svg {
  width: 60vh;
}

.shape-forma1:nth-child(1) {
  position: absolute;
  top: 20%;
  transform: rotate(60deg);
  left: -15%;
  width: 100vh;
}

.shape-forma2:nth-child(2) {
  position: absolute;
  top: -5%;
  left: 70%;
  width: 100vh;
}

.shape-forma3:nth-child(3) {
  position: absolute;
  top: 60%;
  left: 80%;
}

.shape-forma4:nth-child(4) {
  position: absolute;
  transform: rotate(-60deg);
  top: 20%;
  left: 50%;
  width: 25vw;
}

.contenedor-titulo {
  position: absolute;
  top: 13%;
  left: 1%;
  transform: rotate(270deg);
}

.contenedor-textos {
  position: absolute;
  top: 5%;
  height: 85vh;
  width: 93%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.contenedor-textos .contenedor-items-principales {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: end;
}
.contenedor-textos .contenedor-items-principales .contenedor-items-principales--div {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  font-size: 7vw;
  margin-bottom: 2rem;
  font-weight: lighter;
  letter-spacing: 25px;
}

h1::selection {
  background-color: rgba(249, 234, 236, 0.7529411765);
  color: #4f504c;
}

@media screen and (max-width: 600px) {
  .contenedor-textos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenedor-titulo {
    font-size: 1.5em;
  }
}

/*# sourceMappingURL=style.css.map */
